.dashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;

    grid-template:
        'side body';
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
}
.dashboard .sidepanel {
    grid-area: side;
    display: grid;
    grid-template:
        'account'
        'menu'
        'bottommenu';
    grid-template-rows: 300px auto auto;
    grid-template-columns: auto;
    background-color: lightgray;
}
.dashboard .account {
    position: relative;
    grid-area: account;
    background-color: gray;
}
.dashboard .menu {
    grid-area: menu;
}
.dashboard .bottommenu {
    grid-area: bottommenu;
    align-self: flex-end;
}
.dashboard .body {
    grid-area: body;
    background-color: rgb(237, 237, 237);
    overflow: auto;
    position: relative;
}
.dashboard .account .image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: aqua;
    margin: 0 auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.dashboard .account .image .changeimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 61, 61, 0.8);
    text-align: center;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}
.dashboard .account .image:hover .changeimg {
    opacity: 1;
}
.dashboard .account h1, .dashboard .account h2, .dashboard .account h3 {
    text-align: center;
    color: white;
    font-weight: normal;
    margin: 5px 0;
    padding: 0;
}
.dashboard .account h1 {
    margin-bottom: 20px;
    font-size: 36px;
}
.dashboard .account h2 {
    font-size: 24px;
}
.dashboard .account h3 {
    font-size: 14px;
}
.centeredcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menubtn {
    position: relative;
    display: block;
    width: 100%;
    padding: 16px 20px;
    text-align: left;
    font-size: 16px;
    font-family: inherit;
    background-color: white;
    border: 0px solid gray;
    border-bottom-width: 1px;
    outline: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.menubtn:first-child {
    border-top-width: 1px;
}
.menubtn::after {
    position: absolute;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-right-color: gray;
    border-top-color: gray;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    transition: all 0.3s;
}
.menubtn:hover::after {
    border-right-color: black;
    border-top-color: black;
    animation: menu-hover;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-direction: alternate;
}
@keyframes menu-hover {
    0% {
        transform: translate(0, -50%) rotate(45deg);
    }
    100% {
        transform: translate(-10px, -50%) rotate(45deg);
    }
}
.dashboard .body .letter {
    display: block;
    margin: 60px;
    background-color: white;
    border: 1px solid gray;
    padding: 40px;
}
.dashboard .body h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.dashboard .body .fullwidth {
    width: 100%;
}
.dashboard .body .separatorline {
    display: flex;
    align-items: stretch;
}
.dashboard .body .separatorline div {
    flex-grow: 0;
    padding: 8px;
}
.dashboard .body .separatorline div.line {
    flex-grow: 1;
}
.searchbook {
    display: inline-block;
    width: 50px;
    height: 80px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
}
.booklistitem {
    display: grid;
    width: 100%;
    height: 60px;
    grid-template:
        'hasread title buttons'
        'hasread author pagecount';
    grid-template-columns: 40px auto 80px;
    grid-template-rows: auto auto;
    margin: 10px 0;
}
.booklistitem .title {
    grid-area: title;
    align-self: center;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.booklistitem .author {
    grid-area: author;
    align-self: center;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.booklistitem .pagecount {
    grid-area: pagecount;
    align-self: center;
    justify-self: end;
}
.booklistitem .buttons {
    grid-area: buttons;
    align-self: center;
    justify-self: end;
}
.booklistitem .hasread {
    position: relative;
    grid-area: hasread;
    align-self: center;
    justify-self: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
}
.booklistitem .hasread.tick::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 18px;
    top: calc(50% - 3px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 2px solid transparent;
    border-bottom-color: black;
    border-right-color: black;
}
.booklistitem .hasread.load::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid transparent;
    border-top-color: black;
    border-bottom-color: black;
    border-radius: 100%;

    animation-name: spinning;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spinning {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.pagenavigators {
    display: grid;
    grid-template: 'prev next';
    grid-template-columns: auto auto;
}
.pagenavigators div:first-child {
    grid-area: prev;
    justify-self: start;
}
.pagenavigators div:last-child {
    grid-area: next;
    justify-self: end;
}